# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# typescript
*.tsbuildinfo

node_modules
packages/**/data

# Hardhat files
packages/hardhat/*.txt
packages/hardhat/cache*
packages/hardhat/artifacts*
# packages/hardhat/.deployments/*
packages/hardhat/.openzeppelin/*

# subgraph
packages/subgraph/subgraph.yaml
packages/subgraph/src/generated/*
packages/subgraph/abi/*

# Frontend Files

# testing
packages/*/coverage

# next.js
packages/*/.next/
packages/*/out/

# production
packages/*/build

# contracts
# packages/app/src/contracts/*
packages/app/artifacts/@openzeppelin/*
packages/app/artifacts/build-info/*
packages/app/artifacts/hardhat/*
packages/app/artifacts/**/*.dbg.json
