# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

logs

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging
.env.staging.local

# Vercel
.vercel
.turbo

# typescript
*.tsbuildinfo

# Vocs build files
**/vocs.config.ts.timestamp-*

node_modules
packages/**/data
packages/*/dist
packages/*/node_modules
packages/.pnpm-debug.log

# Hardhat files
packages/contracts*/*.txt
packages/contracts*/cache*
packages/contracts*/artifacts/
packages/contracts*/deployments/localhost/
**/deployments/**/solcInputs/*.json
packages/contracts*/typechain-types
packages/contracts*/export/chainConfig/localhost.json
packages/contracts*/export/upgradeConfig/localhost.json

#packages/contracts*/.openzeppelin/
packages/contracts/docs

# subgraph
packages/subgraph/subgraph.yaml
packages/subgraph/src/generated/*
packages/subgraph/abi/*
apps/data-api/src/generated/*

# Frontend Files

# testing
packages/*/coverage

# next.js
out
dist
.next

# production
packages/*/build
apps/*/build
examples/*/build

# contracts
# packages/app/src/contracts/*
apps/.pnpm-debug.log
apps/app/artifacts/@openzeppelin/*
apps/app/artifacts/build-info/*
apps/app/artifacts/hardhat/*
apps/app/artifacts/**/*.dbg.json
apps/app/src/contracts.ts

apps/oracle/.env
apps/oracle/.env.*
apps/oracle/.defender
apps/oracle/src/contracts.ts

# Oracle deployment files
apps/oracle/config/local/airnode-credentials.json
apps/oracle/config/local/aws.env
apps/oracle/config/local/config.json
apps/oracle/config/local/configuration-details.json
apps/oracle/config/local/deployment-info.json
apps/oracle/config/local/gateway-url.txt
apps/oracle/config/local/secrets.env
apps/oracle/config/local/test-command.txt
apps/oracle/config/local/receipt.json

apps/oracle/config/staging/airnode-credentials.json
apps/oracle/config/staging/aws.env
apps/oracle/config/staging/config.json
apps/oracle/config/staging/configuration-details.json
apps/oracle/config/staging/deployment-info.json
apps/oracle/config/staging/gateway-url.txt
apps/oracle/config/staging/secrets.env
apps/oracle/config/staging/test-command.txt
apps/oracle/config/staging/receipt.json
apps/oracle/config/staging/history/

apps/oracle/config/production/airnode-credentials.json
apps/oracle/config/production/aws.env
apps/oracle/config/production/config.json
apps/oracle/config/production/configuration-details.json
apps/oracle/config/production/deployment-info.json
apps/oracle/config/production/gateway-url.txt
apps/oracle/config/production/secrets.env
apps/oracle/config/production/test-command.txt
apps/oracle/config/production/receipt.json
apps/oracle/config/production/history/

# Arweave keyfiles (sensitive)
apps/offchain-api/arweave-keyfile.json

# Research directory
research/
