# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

logs

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel
.turbo

# typescript
*.tsbuildinfo

# Vocs build files
**/vocs.config.ts.timestamp-*

node_modules
packages/**/data
packages/*/dist
packages/*/node_modules
packages/.pnpm-debug.log

# Hardhat files
packages/contracts*/*.txt
packages/contracts*/cache*
packages/contracts*/artifacts/
packages/contracts*/deployments/localhost/
**/deployments/**/solcInputs/*.json
packages/contracts*/typechain-types
packages/contracts*/export/chainConfig/localhost.json
packages/contracts*/export/upgradeConfig/localhost.json

#packages/contracts*/.openzeppelin/
packages/contracts/docs

# subgraph
packages/subgraph/subgraph.yaml
packages/subgraph/src/generated/*
packages/subgraph/abi/*

# Frontend Files

# testing
packages/*/coverage

# next.js
out
dist
.next

# production
packages/*/build
apps/*/build
examples/*/build

# contracts
# packages/app/src/contracts/*
apps/.pnpm-debug.log
apps/app/artifacts/@openzeppelin/*
apps/app/artifacts/build-info/*
apps/app/artifacts/hardhat/*
apps/app/artifacts/**/*.dbg.json
apps/app/src/contracts.ts

apps/oracle/.env
apps/oracle/.env.*
apps/oracle/.defender
apps/oracle/src/contracts.ts
