specVersion: 0.0.4
schema:
  file: ./schema.graphql
description: ETS Subgraph ({{environment}} environment)
features:
  - nonFatalErrors
dataSources:
  - kind: ethereum/contract
    name: ETSAccessControls
    network: {{name}}
    source:
      address: "{{config.contracts.ETSAccessControls.address}}"
      abi: ETSAccessControls
      startBlock: {{upgradesConfig.contracts.ETSAccessControls.deploymentBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.9
      language: wasm/assemblyscript
      file: ./src/mappings/ETSAccessControls.ts
      entities:
        - Administrator
        - Platform
        - Channel
        - ChannelAdmin
      abis:
        - name: ETSAccessControls
          file: {{abis.ETSAccessControls}}
        - name: ETSChannel
          file: {{abis.ETSChannel}}
      eventHandlers:
        - event: Initialized(uint8)
          handler: handleInitialized
        - event: Upgraded(indexed address)
          handler: handleUpgraded
        - event: PlatformSet(address,address)
          handler: handlePlatformSet
        - event: ChannelAdded(address)
          handler: handleChannelAdded
        - event: ChannelLockToggled(address)
          handler: handleChannelToggled
        - event: RoleGranted(indexed bytes32,indexed address,indexed address)
          handler: handleRoleGranted
        - event: RoleRevoked(indexed bytes32,indexed address,indexed address)
          handler: handleRoleRevoked
  - kind: ethereum/contract
    name: ETSToken
    network: {{name}}
    source:
      address: "{{config.contracts.ETSToken.address}}"
      abi: ETSToken
      startBlock: {{upgradesConfig.contracts.ETSToken.deploymentBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.9
      language: wasm/assemblyscript
      file: ./src/mappings/ETSToken.ts
      entities:
        - Transfer
      abis:
        - name: ETSToken
          file: {{abis.ETSToken}}
      eventHandlers:
        - event: Initialized(uint8)
          handler: handleInitialized
        - event: Upgraded(indexed address)
          handler: handleUpgraded
        - event: TagMaxStringLengthSet(uint256)
          handler: handleTagMaxStringLengthSet
        - event: TagMinStringLengthSet(uint256)
          handler: handleTagMinStringLengthSet
        - event: ETSCoreSet(address)
          handler: handleETSCoreSet
        - event: AccessControlsSet(address)
          handler: handleAccessControlsSet
        - event: TagCreated(indexed address,indexed uint256,string,string,string,indexed address,address,uint256)
          handler: handleTagCreated
  - kind: ethereum/contract
    name: ETSTarget
    network: {{name}}
    source:
      address: "{{config.contracts.ETSTarget.address}}"
      abi: ETSTarget
      startBlock: {{upgradesConfig.contracts.ETSTarget.deploymentBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.9
      language: wasm/assemblyscript
      file: ./src/mappings/ETSTarget.ts
      entities:
        - TargetMiscellaneous
      abis:
        - name: ETSTarget
          file: {{abis.ETSTarget}}
      eventHandlers:
        - event: Initialized(uint8)
          handler: handleInitialized
        - event: Upgraded(indexed address)
          handler: handleUpgraded
        - event: AccessControlsSet(address)
          handler: handleAccessControlsSet
        - event: TargetCreated(uint256)
          handler: handleTargetCreated
        - event: TargetEnriched(indexed uint256,indexed address,string,bytes32,bytes)
          handler: handleTargetEnriched
  - kind: ethereum/contract
    name: ETS
    network: {{name}}
    source:
      address: "{{config.contracts.ETS.address}}"
      abi: ETS
      startBlock: {{upgradesConfig.contracts.ETS.deploymentBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.9
      language: wasm/assemblyscript
      file: ./src/mappings/ETS.ts
      entities:
        - TaggingRecord
      abis:
        - name: ETSAccessControls
          file: {{abis.ETSAccessControls}}
        - name: ETSToken
          file: {{abis.ETSToken}}
        - name: ETSTarget
          file: {{abis.ETSTarget}}
        - name: ETSChannel
          file: {{abis.ETSChannel}}
        - name: ETS
          file: {{abis.ETS}}
      eventHandlers:
        - event: Initialized(uint8)
          handler: handleInitialized
        - event: Upgraded(indexed address)
          handler: handleUpgraded
        - event: AccessControlsSet(address)
          handler: handleAccessControlsSet
        - event: TaggingFeeSet(uint256)
          handler: handleTaggingFeeSet
        - event: PercentagesSet(uint256,uint256)
          handler: handlePercentagesSet
        - event: TaggingRecordCreated(uint256)
          handler: handleTaggingRecordCreated
        - event: TaggingRecordUpdated(uint256,uint8)
          handler: handleTaggingRecordUpdated
        - event: FundsWithdrawn(indexed address,uint256)
          handler: handleFundsWithdrawn
  - kind: ethereum/contract
    name: ZoraFactory
    network: {{name}}
    source:
      address: "{{config.contracts.MockZoraFactory.address}}"
      abi: MockZoraFactory
      startBlock: 4
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.9
      language: wasm/assemblyscript
      file: ./src/mappings/ZoraFactory.ts
      entities:
        - Tag
      abis:
        - name: MockZoraFactory
          file: {{abis.MockZoraFactory}}
      eventHandlers:
        - event: CoinCreatedV4(indexed address,indexed address,indexed address,address,string,string,string,address,bytes,bytes32,string)
          handler: handleCoinCreatedV4
templates:
  - name: ETSChannel
    kind: ethereum/contract
    network: {{name}}
    source:
      abi: ETSChannel
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.9
      language: wasm/assemblyscript
      file: ./src/mappings/ETSChannel.ts
      entities:
        - Channel
      abis:
        - name: ETSChannel
          file: {{abis.ETSChannel}}
      eventHandlers:
        - event: ChannelPauseToggledByOwner(address)
          handler: handleChannelPauseToggledByOwner
        - event: ChannelOwnerChanged(address)
          handler: handleChannelOwnerChanged
        - event: OwnershipTransferred(indexed address,indexed address)
          handler: handleOwnershipTransferred
        - event: Paused(address)
          handler: handlePausedByOwner
        - event: Unpaused(address)
          handler: handleUnpausedByOwner
