@import "./nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer base {
  #__next {
    @apply flex flex-col min-h-screen;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply flex flex-col min-h-screen antialiased bg-white;
  }
}
*/

@layer utilities {
  .text-outlined {
    -webkit-text-stroke: 1px #0f172a;
    color: white;
  }
}

.hover\:scale-102:hover {
  transform: scale(1.02);
}

/* Sitewide button customizations to DaisyUI*/
.btn {
  @apply transform transition duration-200 hover:scale-102;
}

/* Override the rainbow connect button! */
.connect-btn button {
  @apply btn-sm btn-primary font-semibold hover:scale-100 !important;
}

.connect-btn.connected button {
  @apply btn-secondary !important;
}

.connect-btn button div {
  @apply font-semibold text-sm border-0 text-white p-0 hover:scale-100 !important;
}

/*
.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar .menu {
  padding: 0;
}
*/

.ReactTags__tags {
  flex-flow: column-reverse;
}