@import "@fontsource-variable/inter";
@import "./nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-outlined {
    -webkit-text-stroke: 1px #0f172a;
    color: white;
  }
}

.hover\:scale-102:hover {
  transform: scale(1.02);
}

/* Sitewide button customizations to DaisyUI*/
.btn {
  @apply transform transition duration-200 hover:scale-102;
}

/* Override the rainbow connect button! */
.connect-btn button {
  @apply btn-sm btn-primary font-semibold hover:scale-100 !important;
}

.connect-btn.connected button {
  @apply btn-secondary !important;
}

.connect-btn button div {
  @apply font-semibold text-sm border-0 text-white p-0 hover:scale-100 !important;
}

.globalMenu li > *:not(ul) {
  transition: background-color 0.3s ease-in-out;
}
.globalMenu li > *:not(ul):hover,
.globalMenu li > *:not(ul):active,
.globalMenu li > *:not(ul):focus {
  @apply bg-slate-100 text-slate-900 !important;
}

/* Handle the pressed state */
.globalMenu li > *:not(ul):active:hover {
  @apply bg-slate-100 text-slate-900 !important;
}

.menu :where(li ul) {
  margin-inline-start: 1.7rem;
}

.ReactTags__tags {
  flex-flow: column-reverse;
}

.auctions .tab {
  @apply text-gray-400;
}

.auctions .tab:checked {
  @apply text-gray-900; /* Example styles */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.auto-tooltip-width .lg\:tooltip:before {
  max-width: fit-content;
}

.fixed-tooltip-width .lg\:tooltip:before {
  max-width: 22rem;
}
