@import "./nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply flex flex-col min-h-screen;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply flex flex-col min-h-screen antialiased bg-white;
  }
}

@layer utilities {
  .text-outlined {
    -webkit-text-stroke: 1px #0f172a;
    color: white;
  }
}

.hover\:scale-102:hover {
  transform: scale(1.02);
}

/* Sitewide button customizations to DaisyUI*/
.btn {
  @apply text-base transform transition duration-200 hover:scale-102;
}

/* Override the rainbow connect button! */
.connect-btn button {
  @apply font-semibold text-base btn btn-primary border-none !important;
}

.connect-btn.connected button {
  @apply btn-secondary !important;
}

.connect-btn button div {
  @apply font-semibold border-none border-primary text-base pr-0 pl-0 !important;
}
