/* Make clicks pass-through */
#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply bg-pink-600 fixed z-[1031] top-0 left-0 w-full h-[2px];
}

/* Fancy blur effect */
#nprogress .peg {
  @apply block absolute right-0 w-[100px] h-full opacity-100;
  box-shadow: 0 0 10px var(--primary-color), 0 0 5px var(--primary-color);
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  @apply hidden;
}

#nprogress .spinner-icon {
  @apply w-[18px] h-[18px] box-border border-2 border-transparent border-t-pink-600 border-l-pink-600 rounded-[50%];
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  @apply relative overflow-hidden;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  @apply absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
