# App-specific environment variables

# Network configuration
NETWORK=localhost # Maps to hardhat network config
NEXT_PUBLIC_ETS_ENVIRONMENT=localhost # Choose from: localhost, baseSepolia, base

# API Keys
NEXT_PUBLIC_ALCHEMY_KEY=your-alchemy-key # Required for blockchain interactions
NEXT_PUBLIC_UNSPLASH_KEY=your-unsplash-key # Optional: for random images in playground