name: Verify
on:
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 8

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: ethereum-tag-service/actions/.github/actions/pnpm@main

      - name: Lint repo
        run: pnpm lint:repo

      - name: Lint code
        run: pnpm lint

  build:
    name: Build
    needs: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: ethereum-tag-service/actions/.github/actions/pnpm@main

      - name: Build
        run: pnpm build
        env:
          NETWORK: arbitrumSepolia # Any valid network option in hardhat.config.ts should work.

      - name: Publint
        run: pnpm test:build

      - name: Check for unused files, dependencies, and exports
        run: pnpm knip --production

  test:
    name: Smart Contracts
    uses: ./.github/workflows/solidity-screener.yml
    secrets: inherit
